.listItem {
  position: relative;
}

.inlineBlock {
  display: inline-block;
}

.markedItem {
  position: relative;
}

.markedItem::after {
  position: absolute;
  top: 1ch;
  left: -1ch;
  content: "";
  height: 0.5ch;
  width: 0.5ch;
  border-radius: 100%;
  background-color: var(--sidebar-background-color);
  filter: invert(100%);
}

.removeBtnWrapper {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  padding: 5px;
  display: flex;
}

.removeBtn {
  width: 20px;
  aspect-ratio: 1 / 1;
  align-content: center;
  color: red;
}

.listItem.hovered {
  box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.2);
}

.listItem.hovered > .removeBtnWrapper {
  opacity: 1;
}
