.project {
  display: grid;
  grid-template-areas: "info qr";
  column-gap: 5px;
  /* grid-template-areas:
    "title title qr"
    "link link qr"
    "description description qr"; */
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
}

.link {
  grid-area: link;
}

.title {
  grid-area: title;
}

.stack {
  grid-area: stack;
}

.description {
  grid-area: description;
}

.qr {
  grid-area: qr;
  justify-self: end;
}
