.project {
  display: grid;
  grid-template-areas: "info qr";
  column-gap: 5px;
  margin-bottom: 10px;
}

.link {
  grid-area: link;

  color: var(--main-text-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:active,
.link:focus,
.link:visited {
  color: var(--main-text-color);
}

.project:last-of-type {
  margin-bottom: 0;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
}

.title {
  grid-area: title;
}

.stack {
  grid-area: stack;
}

.description {
  grid-area: description;
}

.qr {
  grid-area: qr;
  justify-self: end;
}
