.project {
  display: grid;
  grid-template-areas: "info qr";
  column-gap: 5px;
  margin-bottom: 10px;

  & a {
    color: #000000;
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }

  & a:active,
  & a:focus,
  & a:visited {
    color: "#000000";
  }
}

.project:last-of-type {
  margin-bottom: 0;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
}

.link {
  grid-area: link;
}

.title {
  grid-area: title;
}

.stack {
  grid-area: stack;
}

.description {
  grid-area: description;
}

.qr {
  grid-area: qr;
  justify-self: end;
}
