.sidebar {
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--blocks-gap);
  grid-area: sidebar;
}

@media print, (max-width: 576px) {
  .sidebar {
    border-right: 1px solid black;
    background-color: white;
    color: black;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    gap: 5px;
  }
}
