.sidebar {
  color: var(--sidebar-text-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--blocks-gap);
  grid-area: sidebar;
}

@media print, (max-width: 576px) {
  .sidebar {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    gap: 5px;
  }
}
