.personBlock {
  padding: 20px;
  padding-bottom: 0;

  grid-area: person;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "info qr";
  justify-content: space-between;
  align-content: space-between;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.qr {
  grid-area: qr;
  display: none;
}

.qrPdf {
  display: block;
}

@media print {
  .qr {
    display: block;
  }
}
