.sectionWrapper {
  display: flex;
  place-content: center;
}

.imageWrapper {
  border-radius: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 150px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0ffff;
}

.circleWrapper {
  border-radius: 100%;
}

.image {
  width: 150px;
  transition: transform 0.5s;
}

@media (hover: hover) {
  .image:hover {
    transform: scale(1.1);
  }
}

@media print {
  .sectionWrapper {
    display: block;
  }

  .imageWrapper {
    margin: 0 auto;
  }
}
