.container {
  margin: 0 auto;
  max-width: 1440px;
}

.page {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;

  grid-template-areas:
    "sidebar person"
    "sidebar main";
}

.whiteSpace {
  height: 60px;
}

@media (max-width: 576px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-areas:
      "person"
      "sidebar"
      "main";
  }
}
