@font-face {
  font-family: "PTSans-Regular";
  src: url("/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/PTSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --main-background-color: #ffffff;
  --main-text-color: #3f3f3f;
  --sidebar-background-color: #3e6e3e;
  --sidebar-text-color: #ffffff;

  --blocks-gap-standard: 20px;
  --blocks-gap-print: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --blocks-gap: var(--blocks-gap-standard);
  font-family: "PT Sans", sans-serif;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

body,
h3,
h4 {
  font-size: 14px;
}

ul {
  padding: 0;
}

@media (width > 1200px) {
  body,
  h3,
  h4 {
    font-size: 20px;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 5mm;
  }

  :root {
    --blocks-gap: 0;
  }

  body {
    --blocks-gap: var(--blocks-gap-print);
  }

  body,
  h3,
  h4 {
    font-size: 10pt;
    background-color: red;
  }

  h2 {
    font-size: 12pt;
  }

  h1 {
    font-size: 14pt;
  }
}
