:root {
  --accent: #28d979;
  --tag-most-recent-bg: rgba(126, 115, 18, 0.4);
  --tag-most-recent-color: #ddf163;

  --main-background-color: #ffffff;
  --main-text-color: #3f3f3f;
  --sidebar-background-color: #4e5a72;
  --sidebar-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", system-ui;
  font-size: 14px;
  line-height: 150%;
}
