.contactsItemWrapper {
  display: grid;
  grid-template-columns: 24px auto;

  gap: 5px;
}

.link {
  color: var(--sidebar-text-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:active,
.link:focus,
.link:visited {
  color: var(--sidebar-text-color);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media print, (max-width: 576px) {
  .link,
  .link:active,
  .link:focus,
  .link:visited {
    color: #000000;
    text-decoration: none;
  }
}
