name: Lint

on: pull_request
permissions:
  contents: write
jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Packages
        run: |
          npm ci

      - name: Lint
        run: npm run lint
